streamlit
langchain
python-dotenv
requests
pickle-mixin
langchain-community
langchain-groq
langchain-huggingface
selenium
tenacity
sentence-transformers
beautifulsoup4
langchain-text-splitters

